<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Tutorial</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="main">

    <!-- Declarative Rendering -->
    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            <!-- v-bind attribute is a vue directive -->
            <!-- title is a HTML attribute that contains text representing advisory information
            related to the element it belongs to and appears when the element is hovered over-->
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>


    <!-- Conditionals and Loops -->
    <div id="app-3">
        <span v-if="seen">Now you seee me</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <!-- Handling User Input -->
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Messge</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <!-- Composing with Components -->
    <ol>
        <!-- Create an instance of the todo-item component -->
        <todo-item>a</todo-item>
    </ol>

    <div id="app-7">
        <ol>
            <!--
                Now we provide each todo-item with the todo object
                it's representing, so that its content can be dynamic.
                We also need to provide each component with a "key", 
                which will be explained later. 
            -->
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- https://vuejs.org/v2/guide/# -->
    <script src="main.js"></script>
</body>
</html>